@import url("common.css");
/*大屏（1200，~）*/
@media screen and (min-width:1200px){
    .container{
        width:1170px;
        height:auto;
        padding:0 15px;
        box-sizing:border-box;
        margin:0 auto;
    }
    .container > .row{
        height:auto;
        overflow:hidden;
        margin:0 -15px;
    }
    .container > .row > .col-lg-1{
        float:left;
        width:8.333333333%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-2{
        float:left;
        width:16.6666666666%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-3{
        float:left;
        width:25%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-4{
        float:left;
        width:33.333333333%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-5{
        float:left;
        width:41.6666666666%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-6{
        float:left;
        width:50%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-7{
        float:left;
        width:58.333333333%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-8{
        float:left;
        width:66.6666666666%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-9{
        float:left;
        width:75%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-10{
        float:left;
        width:83.3333333333%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-11{
        float:left;
        width:91.6666666666%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-12{
        float:left;
        width:100%;
        /*height:auto;*/
        overflow:hidden;
        padding:0 15px;
        box-sizing:border-box;
    }
    .container > .row > .col-lg-hidden{
        display:none;
    }
    .container > .row > .col-lg-offset-1{
        margin-left:8.333333333%;
    }
    .container > .row > .col-lg-offset-2{
        margin-left:16.666666666%;
    }
    .container > .row > .col-lg-offset-3{
        margin-left:25%;
    }
    .container > .row > .col-lg-offset-4{
        margin-left:33.333333333%;
    }
    .container > .row > .col-lg-offset-5{
        margin-left:41.666666666%;
    }
    .container > .row > .col-lg-offset-6{
        margin-left:50%;
    }
    .container > .row > .col-lg-offset-7{
        margin-left:58.3333333%;
    }
    .container > .row > .col-lg-offset-8{
        margin-left:66.666666666%;
    }
    .container > .row > .col-lg-offset-9{
        margin-left:75%;
    }
    .container > .row > .col-lg-offset-10{
        margin-left:83.33333333%;
    }
    .container > .row > .col-lg-offset-11{
        margin-left:91.666666666%;
    }
    .container > .row > .col-lg-offset-12{
        margin-left:100%;
    }
    /*banner开始*/
    div[class="banner"]{
        height:795px;
    }
    div[class="banner"]:after{
        font-size:72px;
    }
    div[class="nav"]{
        height:51px;
    }
    div[class="nav-left"]{
        font-size:40px;
    }
    ul[class="small"]{
        display:none;
    }
    /*banner结束*/
    /*skill开始*/
    div[id]{
        margin-bottom:15px;
    }
    /*skill结束*/
}

